// Colors
$color-header-text: #ffffff;
$color-header-text-hover: #fce38a;
$color-line-bg: #f38181;
$color-title: #333333;
$color-text: #999999;

// Fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
$font-roboto: 'Roboto', sans-serif;