* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

h2 {
  color: #333333;
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  font-weight: 400;
}

h3 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 42px;
}

h4 {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.horizontal_line {
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 0px auto;
}

.brand {
  background-color: #f38181;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1280px) {
  .wrapper {
    width: 960px;
  }
}
@media all and (max-width: 1000px) {
  .wrapper {
    width: 788px;
  }
}
@media all and (max-width: 830px) {
  .wrapper {
    width: 600px;
  }
}
@media all and (max-width: 650px) {
  .wrapper {
    width: 100%;
    padding: 0px 20px;
  }
}

.header {
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url("../img/header/header-bg.png") center no-repeat;
  background-size: cover;
}

.header_top {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_top_logo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}
.header_top_logo:hover {
  color: #fce38a;
  text-decoration: none;
}

.header_nav .header_nav_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.header_nav .header_nav_list .header_nav_link {
  margin-left: 50px;
}
.header_nav .header_nav_list .header_nav_link a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
}
.header_nav .header_nav_list .header_nav_link a:hover {
  color: #fce38a;
  border-bottom-color: #fce38a;
}
.header_nav .header_nav_list .header_nav_link a:hover i {
  color: #fce38a;
}
.header_nav .header_nav_list .header_nav_link i {
  color: #ffffff;
  margin-right: 0px;
}
@media all and (max-width: 830px) {
  .header_nav .header_nav_list .header_nav_link i {
    margin-right: 15px;
  }
}
@media all and (max-width: 1000px) {
  .header_nav .header_nav_list .header_nav_link {
    margin-left: 30px;
  }
}
@media all and (max-width: 830px) {
  .header_nav .header_nav_list .header_nav_link {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .header_nav .header_nav_list .header_nav_link:nth-last-child(1) a::after {
    display: inline-block;
    content: "Search";
  }
  .header_nav .header_nav_list .header_nav_link:nth-last-child(2) a::after {
    display: inline-block;
    content: "Shopping cart";
  }
}
@media all and (max-width: 830px) {
  .header_nav .header_nav_list {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #E98382F3;
    padding: 50px 80px;
    top: -100%;
    left: 0;
  }
}

@media all and (max-width: 830px) {
  .header_nav_list.show {
    display: block;
    top: 0;
  }
}
@media all and (max-width: 450px) {
  .header_nav_list.show {
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E98382F3;
    padding: 50px 30px;
  }
}

.header_intro {
  padding-top: 150px;
  padding-bottom: 142px;
  text-align: center;
}

.header_intro_title {
  color: #ffffff;
  font-family: "Kaushan Script", cursive;
  font-size: 7.2rem;
  font-weight: 400;
}
@media all and (max-width: 650px) {
  .header_intro_title {
    font-size: 4.8rem;
  }
}

.header_intro_content {
  margin: 42px auto 71px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  max-width: 850px;
  text-transform: uppercase;
}
@media all and (max-width: 1000px) {
  .header_intro_content {
    font-size: 12.8rem;
    line-height: 10rem;
  }
}
@media all and (max-width: 830px) {
  .header_intro_content {
    font-size: 9.6rem;
    line-height: 8rem;
  }
}
@media all and (max-width: 650px) {
  .header_intro_content {
    font-size: 6rem;
    line-height: 5rem;
  }
}
@media all and (max-width: 400px) {
  .header_intro_content {
    font-size: 4.7rem;
    line-height: 5rem;
  }
}

.button {
  margin: 50px 0 0;
  height: auto;
}
.button a {
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 32px 14px 33px;
  border: 3px solid #ffffff;
  text-decoration: none;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
}
.header_bottom .header_bottom_item {
  flex-basis: 280px;
}
.header_bottom .header_bottom_item .header_bottom_item_border {
  height: 3px;
  background: #ffffff80;
}
.header_bottom .header_bottom_item p {
  padding-top: 25px;
  color: #ffffffb3;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.header_bottom .header_bottom_item p span {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}
.header_bottom .header_bottom_item:hover {
  cursor: pointer;
}
.header_bottom .header_bottom_item:hover .header_bottom_item_border {
  background: linear-gradient(90deg, #f38181 0%, #f38181 25%, white 25%, white 100%);
}
.header_bottom .header_bottom_item:hover p {
  color: #ffffff;
}
@media all and (max-width: 1280px) {
  .header_bottom .header_bottom_item {
    flex-basis: 23%;
  }
}
@media all and (max-width: 650px) {
  .header_bottom .header_bottom_item {
    flex-basis: 100%;
  }
}
@media all and (max-width: 650px) {
  .header_bottom {
    flex-wrap: wrap;
  }
}

.burger_menu {
  display: none;
  position: relative;
  width: 35px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
}
.burger_menu span {
  width: 100%;
  height: 4px;
  display: inline-block;
  background-color: #ffffff;
}
.burger_menu:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}
.burger_menu:hover span {
  background-color: #fce38a;
}
@media all and (max-width: 830px) {
  .burger_menu {
    display: flex;
  }
}

.active {
  z-index: 50;
}
.active span {
  position: absolute;
}
.active span:nth-child(1) {
  top: 10px;
  left: 0;
  transform: rotate(45deg);
  transition: all 0.5s ease-in;
}
.active span:nth-child(2) {
  top: calc(50% - 2px);
  left: 0;
  transform: scale(0);
  transition: all 0.5s ease-in;
}
.active span:nth-child(3) {
  bottom: 10px;
  left: 0;
  transform: rotate(-45deg);
  transition: all 0.5s ease-in;
}

.we_work_with {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 71px;
}
.we_work_with .work_box {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 49px;
  padding-right: 30px;
  padding-bottom: 51px;
  padding-left: 30px;
}
.we_work_with .work_box .work_item {
  flex-basis: 300px;
  display: flex;
  justify-content: space-between;
}
.we_work_with .work_box .work_item .work_item_image img {
  margin-right: 27px;
}
@media all and (max-width: 1000px) {
  .we_work_with .work_box .work_item .work_item_image img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 650px) {
  .we_work_with .work_box .work_item .work_item_image img {
    margin-right: 30px;
  }
}
.we_work_with .work_box .work_item .work_item_content {
  margin-top: 20px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}
@media all and (max-width: 1000px) {
  .we_work_with .work_box .work_item .work_item_content {
    text-align: center;
  }
}
@media all and (max-width: 650px) {
  .we_work_with .work_box .work_item .work_item_content {
    text-align: left;
    line-height: 18px;
    margin-top: 8px;
  }
}
@media all and (max-width: 1000px) {
  .we_work_with .work_box .work_item {
    flex-direction: column;
    align-items: center;
    flex-basis: 170px;
  }
  .we_work_with .work_box .work_item .work_item_title {
    text-align: center;
  }
}
@media all and (max-width: 650px) {
  .we_work_with .work_box .work_item {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: left;
  }
  .we_work_with .work_box .work_item .work_item_title {
    text-align: left;
  }
}
.we_work_with .long_line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 50px auto;
}
@media all and (max-width: 650px) {
  .we_work_with .long_line {
    display: none;
  }
}

.for_all_devices {
  padding-top: 109px;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/for-all-devices/background-image.png") center no-repeat;
  position: relative;
}
.for_all_devices .tablet {
  margin-left: -27px;
  margin-top: 45px;
}
@media all and (max-width: 650px) {
  .for_all_devices .tablet {
    width: 100%;
    margin-left: 0px;
  }
}
.for_all_devices .for_all_devices_phone_box {
  position: absolute;
  bottom: -91px;
  left: calc(50vw + 95px);
  right: 0;
  text-align: left;
}
.for_all_devices .for_all_devices_phone_box img {
  width: 100%;
}
@media all and (max-width: 650px) {
  .for_all_devices .for_all_devices_phone_box {
    left: 50vw;
  }
}

.service {
  padding-top: 112px;
  text-align: center;
}

.main_text {
  margin: 46px 0 92px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}

.service_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
@media all and (max-width: 1000px) {
  .service_content {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.service_content_foto {
  flex-basis: 579px;
  margin-right: 30px;
}
.service_content_foto img {
  width: 100%;
  height: 100%;
}
@media all and (max-width: 1000px) {
  .service_content_foto {
    flex-basis: 100%;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.service_content_box {
  flex-basis: 600px;
}
.service_content_box .service_content_item {
  margin-bottom: 10px;
}
.service_content_box .service_content_item:last-child {
  margin-bottom: 0px;
}
@media all and (max-width: 1000px) {
  .service_content_box {
    flex-basis: 410px;
  }
}

.service_item_title_box {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 16px;
  align-items: center;
  border: 1px solid #e5e5e5;
}
.service_item_title_box .item_title {
  flex-basis: 100%;
  text-align: left;
}
.service_item_title_box .serviceItemControl {
  transform: none;
  transition: none;
}
.service_item_title_box .serviceItemControl:hover {
  cursor: pointer;
}
.service_item_title_box img {
  margin-right: 15px;
}

.service_item_content {
  display: none;
  max-height: 170px;
  padding: 21px 55px 28px 20px;
  border: 1px solid #e5e5e5;
  overflow-y: scroll;
}
.service_item_content p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media all and (max-width: 1280px) {
  .service_item_content {
    max-height: 94px;
  }
}
@media all and (max-width: 1000px) {
  .service_item_content {
    min-height: 200px;
  }
}

.service_about_slider {
  background-color: #f8f8f8;
  padding: 70px 0px;
}

.flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service_about_slider_content_box {
  flex-basis: 977px;
  display: flex;
  justify-content: space-between;
}
.service_about_slider_content_box .service_about_slider_image {
  width: 150px;
  height: 150px;
  border: 3px solid #95e1d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 830px) {
  .service_about_slider_content_box .service_about_slider_image {
    width: 100px;
    height: 100px;
  }
}
.service_about_slider_content_box .service_about_slider_content {
  flex-basis: 767px;
  text-align: left;
}
.service_about_slider_content_box .service_about_slider_content p {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 36px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 23px;
}
@media all and (max-width: 830px) {
  .service_about_slider_content_box .service_about_slider_content p {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px;
  }
}
@media all and (max-width: 830px) {
  .service_about_slider_content_box .service_about_slider_content p {
    margin: 15px 0px;
  }
}
.service_about_slider_content_box .service_about_slider_content .service_about_slider_content_about .horizontal_line {
  margin-bottom: 6px;
}
.service_about_slider_content_box .service_about_slider_content .service_about_slider_content_about .horizontal_line, .service_about_slider_content_box .service_about_slider_content .service_about_slider_content_about h2 {
  display: inline-block;
}
.service_about_slider_content_box .service_about_slider_content .service_about_slider_content_about h2 {
  margin-left: 10px;
}
@media all and (max-width: 1280px) {
  .service_about_slider_content_box .service_about_slider_content {
    flex-basis: 75%;
  }
}
@media all and (max-width: 830px) {
  .service_about_slider_content_box {
    flex-direction: column;
    align-items: center;
  }
}

.my_style_item {
  width: 81.5%;
  margin: 0 auto;
}

.my_style_control {
  width: 4.8%;
}

.who_we_are {
  text-align: center;
  padding: 99px 0px 118px;
}
.who_we_are p {
  margin: 46px 0px 92px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}
.who_we_are .team_box {
  display: flex;
  justify-content: space-between;
}
.who_we_are .team_box .team_item {
  position: relative;
}
.who_we_are .team_box .team_item .team_item_bg, .who_we_are .team_box .team_item .team_item_foto, .who_we_are .team_box .team_item .team_item_hover {
  width: 380px;
  height: 470px;
}
@media all and (max-width: 650px) {
  .who_we_are .team_box .team_item .team_item_bg, .who_we_are .team_box .team_item .team_item_foto, .who_we_are .team_box .team_item .team_item_hover {
    width: 290px;
    height: 380px;
  }
}
.who_we_are .team_box .team_item .team_item_bg {
  background-color: #95e1d3;
}
.who_we_are .team_box .team_item .team_item_foto {
  position: absolute;
  left: 0;
  top: 0;
}
@media all and (max-width: 650px) {
  .who_we_are .team_box .team_item .team_item_foto img {
    width: 290px;
    height: 380px;
  }
}
.who_we_are .team_box .team_item .team_item_hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box {
  display: flex;
  justify-content: center;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item i {
  color: #f38181;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item:hover {
  background-color: #f38181;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item:hover i {
  color: #ffffff;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item {
  margin-right: 1px;
}
.who_we_are .team_box .team_item .team_item_hover .team_item_social_box .team_item_social_item:last-child {
  margin-right: none;
}
.who_we_are .team_box .team_item .team_item_about {
  margin-top: 31px;
}
@media all and (max-width: 1280px) {
  .who_we_are .team_box .team_item {
    margin-bottom: 40px;
  }
}
.who_we_are .team_box .team_item:hover .team_item_foto {
  top: -10px;
  left: -10px;
}
.who_we_are .team_box .team_item:hover .team_item_hover {
  top: -10px;
  left: -10px;
  z-index: 2;
  cursor: pointer;
}
@media all and (max-width: 1280px) {
  .who_we_are .team_box {
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 1280px) {
  .who_we_are {
    padding-bottom: 38px;
  }
}

.happy_clients {
  background: linear-gradient(rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url("../img/happy-clients/background-image.png") center no-repeat;
  padding: 109px 0px 59px;
  text-align: center;
  background-size: cover;
}

.clients_box {
  margin-top: 87px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clients_box .client_item {
  flex-basis: 500px;
  display: flex;
  margin-bottom: 70px;
}
.clients_box .client_item .item_foto {
  margin-right: 30px;
}
@media all and (max-width: 650px) {
  .clients_box .client_item .item_foto {
    margin-right: 0px;
    text-align: left;
  }
}
.clients_box .client_item .item_info {
  text-align: left;
  padding-top: 12px;
}
.clients_box .client_item .item_info .align_left {
  display: inline-block;
}
.clients_box .client_item .item_info h5 {
  margin-top: 15px;
  margin-bottom: 17px;
}
.clients_box .client_item .item_info .item_about {
  margin-top: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}
@media all and (max-width: 1280px) {
  .clients_box .client_item {
    flex-basis: 80%;
  }
}
@media all and (max-width: 650px) {
  .clients_box .client_item {
    flex-direction: column;
  }
}

.footer_top {
  padding-top: 74px;
  padding-bottom: 69px;
  display: flex;
  justify-content: space-between;
}
.footer_top .footer_logo_box {
  flex-basis: 480px;
}
.footer_top .footer_logo_box .footer_logo {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
}
.footer_top .footer_logo_box .footer_about {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 42px;
  margin-bottom: 49px;
}
.footer_top .footer_logo_box .footer_all_followers {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
}
.footer_top .footer_logo_box .footer_all_followers span {
  font-size: 18px;
  font-weight: 700;
}
.footer_top .footer_logo_box .footer_follow_us {
  margin: 16px 0 38px;
}
.footer_top .footer_logo_box .footer_follow_us span {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 23px;
}
.footer_top .footer_logo_box .footer_follow_us a {
  margin-right: 15px;
}
.footer_top .footer_logo_box .footer_follow_us a i {
  color: #95e1d3;
}
.footer_top .footer_logo_box .footer_follow_us a:last-child {
  margin-right: 0;
}
.footer_top .footer_logo_box .footer_form .email {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  padding: 13px;
}
.footer_top .footer_logo_box .footer_form .footer_button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -5px;
  vertical-align: bottom;
}
@media all and (max-width: 1280px) {
  .footer_top .footer_logo_box {
    margin-top: 50px;
  }
}
.footer_top .footer_blogs_box {
  flex-basis: 360px;
}
.footer_top .footer_blogs_box .blogs_items_box {
  margin-top: 40px;
}
.footer_top .footer_blogs_box .blogs_items_box .blogs_item_box {
  display: flex;
  margin-bottom: 31px;
}
.footer_top .footer_blogs_box .blogs_items_box .blogs_item_box .blogs_item_content {
  padding: 21px 0 0 20px;
}
.footer_top .footer_blogs_box .blogs_items_box .blogs_item_box .blogs_item_content .item_title {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.footer_top .footer_blogs_box .blogs_items_box .blogs_item_box .blogs_item_content .item_date {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.footer_top .footer_blogs_box .blogs_items_box .blogs_item_box:last-child {
  margin-bottom: 0;
}
@media all and (max-width: 1280px) {
  .footer_top .footer_blogs_box {
    margin-top: 50px;
  }
}
.footer_top .footer_insta_box {
  flex-basis: 270px;
}
.footer_top .footer_insta_box .footer_insta_items_box {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer_top .footer_insta_box .footer_insta_items_box .insta_item {
  flex-basis: 88px;
  display: flex;
  margin: 1px;
}
.footer_top .footer_insta_box .footer_insta_items_box .insta_item img {
  width: 90%;
  height: 90%;
}
.footer_top .footer_insta_box .footer_insta_items_box .insta_item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media all and (max-width: 1280px) {
  .footer_top .footer_insta_box .footer_insta_items_box .insta_item {
    flex-basis: 19%;
  }
}
@media all and (max-width: 650px) {
  .footer_top .footer_insta_box .footer_insta_items_box .insta_item {
    flex-basis: 32%;
  }
}
.footer_top .footer_insta_box .view_more {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  font-style: italic;
  cursor: pointer;
}
@media all and (max-width: 1280px) {
  .footer_top {
    flex-direction: column-reverse;
  }
}

.footer_long_line {
  width: auto;
  height: 1px;
  background-color: #e5e5e5;
}

.footer_bottom {
  text-align: center;
  padding: 24px 0 22px;
}
.footer_bottom .copyright {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer_bottom .copyright a {
  color: #f38181;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
