.service {
    padding-top: 112px;
    text-align: center;
}

.main_text {
    margin: 46px 0 92px;
    color: $color-text;
    font-family: $font-roboto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

.service_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    @media all and (max-width: 1000px) {
        flex-direction: column;
        margin-bottom: 60px;
    }
}
.service_content_foto {
    flex-basis: 579px;
    margin-right: 30px;
    img {
        width: 100%;
        height: 100%;
    }
    @media all and (max-width: 1000px) {
        flex-basis: 100%;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    // @media all and (max-width: 830px) {
    //     flex-basis: 430px;
    // }
    // @media all and (max-width: 650px) {
    //     flex-basis: 100%;
    //     margin-bottom: 10px;
    // }
}
.service_content_box {
    flex-basis: 600px;
    .service_content_item {
        margin-bottom: 10px;
    }
    .service_content_item:last-child {
        margin-bottom: 0px;
    }
    @media all and (max-width: 1000px) {
        flex-basis: 410px;
    }
}
.service_item_title_box {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 15px 16px;
    align-items: center;
    border: 1px solid #e5e5e5;
    .item_title {
        flex-basis: 100%;
        text-align: left;
    }
    .serviceItemControl {
        transform: none;
        transition: none;
        &:hover {
            cursor: pointer;
        }
    }
    img {
        margin-right: 15px;
    }
}

.service_item_content {
    display: none;
    max-height: 170px;
    padding: 21px 55px 28px 20px;
    border: 1px solid #e5e5e5;
    overflow-y: scroll;
    p {
        color: $color-text;
        font-family: $font-roboto;
        font-style: italic;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    @media all and (max-width: 1280px) {
        max-height: 94px;
    }
    @media all and (max-width: 1000px) {
        min-height: 200px;
    }
}

.service_about_slider {
    background-color: #f8f8f8;
    padding: 70px 0px;
}

.flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_about_slider_content_box {
    flex-basis: 977px;
    display: flex;
    justify-content: space-between;
    .service_about_slider_image {
        width: 150px;
        height: 150px;
        border: 3px solid #95e1d3;
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (max-width: 830px) {
            width: 100px;
            height: 100px;
        }
    }
    .service_about_slider_content {
        flex-basis: 767px;
        text-align: left;
        p {
            color: #999999;
            font-family: $font-roboto;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 36px;
            font-style: italic;
            margin-top: 10px;
            margin-bottom: 23px;
            @media all and (max-width: 830px) {
                font-size: 2rem;
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 28px;
            }
            @media all and (max-width: 830px) {
                margin: 15px 0px;
            }
        }
        .service_about_slider_content_about {
            .horizontal_line {
                margin-bottom: 6px;
            }
            .horizontal_line, h2 {
                display: inline-block;
            }
            h2 {
                margin-left: 10px;
            }
        }
        @media all and (max-width: 1280px) {
            flex-basis: 75%;
        }
    }
    @media all and (max-width: 830px) {
        flex-direction: column;
        align-items: center;
    }
}

.my_style_item {
    width: 81.5%;
    margin: 0 auto;
}
.my_style_control {
    width: 4.8%;
}